* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body, html {
    height: 100%;
    margin: 0;
  }

:root {
    --lightgray: lightgray;
    --white: white;
    --green: green;
    --yellow: yellow;
    --blue: blue;
    --black: black;
    --purple: purple;
    --orange: orange;
}
.header {
    background-color: var(--orange);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: var(--white);   
  }

  .header a {
    text-decoration: none;
    color: var(--white);
  }

  .container{
    position: relative;
}

.backgroundImage {
    background-image: url('../img/backgoround_img.jpg');
    background-size: cover;
      background-position: center;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    color: var(--white);
  }

  .text-container {
    text-align: center;
    color: var(--white);
  }
  .text-container h1 {
    font-size: 3rem;
    margin: 0 0 1rem 0;
  }

  .text-container h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  /* button */
  .orange-button {
    display: inline-block;
    background-color: var(--orange);
    color: var(--white);
    padding: 12px 24px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
  }

  /* footer */
  p::before {
    content:'\00A9';
    font-weight: bold;
    color: var(--white);
}

/* FAQ SECTION */
.faq-section{
    margin-top: 30px;
    text-align: center;
}
body {
    background-color: var(--white); 
  }
  
  .divider {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .divider::before,
  .divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--orange);
    opacity: 0.4;
    max-width: 60px;
  }
  
  .circle {
    width: 36px;
    height: 36px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  }
  
  .dot {
    width: 20px;
    height: 20px;
    background-color: var(--orange);
    border-radius: 50%;
  }

  .faq-section-gp{
    background-color: var(--orange);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: var(--white); 
  }

  .faq-mergin{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
    text-decoration: none;
  }

  .fqa-bg {
    margin-bottom: 20px;
    background-color: var(--white);
    text-align: left;
  }
.finus-table{
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 50%;
    margin-bottom: 20px;
    width: 40%;
}
td, th {
  text-align: left;
  padding: 8px;
  
}
.table{
  background-color: var(--lightgray);
  
}

  /* footer */
.footer {
    background-color: var(--black);
    text-align: center;
    color: var(--white);
    padding: 10px;
  }
  